!!!
%html
  %head
    = stylesheet_link_tag "compiled/screen"
    = stylesheet_link_tag "compiled/roster"

  %body.bp.three-col
    #container
      #content
        - form_for :registration, @registration, :url => { :action => "create" } do |f| 
          Remember this table is in #{link_to "#{@day_of_action.time_zone} Time","http://what.timeisit.in/#{@day_of_action.time_zone}", :popup => true, :class => "time_zone_reminder"}
          %table.roster
            - @day_of_action.time_slots.group_by{|slot| slot.start_time.strftime("%I %p")}.each do |hour, slots|
              %tr.hour
                %th= hour
                - slots.each do |slot|
                  %td{:class=> slot.status}
                    = f.label "time_slot_id_#{slot.id}", slot.start_time.strftime("%I:%M") 
                    = f.radio_button :time_slot_id, slot.id
                
          = f.label :email_address, "What is your email address?", :class => :title
          = f.text_field :email_address, {:class => :title}  
          = f.submit 'Register'
          = f.error_messages :message => "Whoops, can we try that again?", :header_message => nil
          - if flash[:thanks_for_registering]
            .notice.thanks_for_registering
              Thanks for helping out!
              We have sent you a confirmation email with further instructions.
            
        