- content_for :tag_line do
  We hope you will join us.
                  
- form_for :registration, @registration, :url => { :action => "create" } do |f| 
  #registration_form
    .heading
      Please register for a time to call
    .time_zone_info  
      Remember this table is in #{link_to "#{@day_of_action.time_zone} Time","http://what.timeisit.in/#{@day_of_action.time_zone}", :popup => true, :class => "time_zone_reminder"}
    %div{:style => "clear:both"}
    %table#roster
      - @day_of_action.time_slots.group_by{|slot| slot.strftime("%I %p")}.each do |hour, slots|
        %tr.hour
          %th= hour
          - slots.each do |slot|
            %td{:class=> "#{slot.status} input"}
              - if slot.available?
                = f.radio_button :time_slot_id, slot.id 
              - else
                = image_tag("tick.png")
            
            %td{:class=> "#{slot.status} label"}
              = f.label "time_slot_id_#{slot.id}", slot.strftime("%I:%M") 
    = f.label :email_address, "What is your email address?", :class => :large
    = f.text_field :email_address, {:class => :title}  
    = f.submit 'Register'
  = f.error_messages :message => "Whoops, can we try that again?", :header_message => nil


        